body{
    background-color: #F1F1F1;
}

header {
    margin: 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 7px 1px #e3e6e8;
    background-color: white;
}

.middle_header {
    text-align: center;
}

.middle_header p {
    font-size: 20px;
}

.Navbar {
    background-color: black;
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.Navli {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.button_login {
    display: flex;
    text-align: end;
    padding-left: 820px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main1{
    margin: 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 7px 1px #e3e6e8;
    background-color: white;
}

.gambarmain{
    background-color:  #AAAAAA;
    padding: 18px 50px 100px 21px;
}